<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
<name>Server</name>

<category>Net</category>

<subcategory></subcategory>

<usage>Application</usage>

<example>
<image></image>
<code>
import processing.net.*;
Server myServer;
int val = 0;

void setup() {
  size(200, 200);
  // Starts a myServer on port 5204
  myServer = new Server(this, 5204); 
}

void draw() {
  val = (val + 1)%255;
  background(val);
  myServer.write(val);
}

</code>
</example>

<description>
A server sends and receives data to and from its associated clients (other programs connected to it). When a server is started, it begins listening for connections on the port specified by the <b>port</b> parameter. Computers have many ports for transferring data and some are commonly used so be sure to not select one of these. For example, web servers usually use port 80 and POP mail uses port 110.
</description>

<syntax>
</syntax>

<parameters>
</parameters>

<method>
<mname>write()</mname>
<mdescription>Writes data to all connected clients</mdescription>
</method>

<method>
<mname>available()</mname>
<mdescription>Returns the next client in line with a new message</mdescription>
</method>

<method>
<mname>stop()</mname>
<mdescription>Disconnects all clients and stops the server</mdescription>
</method>

<method>
<mname>disconnect()</mname>
<mdescription>Disconnect a particular client</mdescription>
</method>


<constructor>
Server(<c>parent</c>, <c>port</c>)
</constructor>

<cparameter>
<clabel>parent</clabel>
<cdescription>PApplet: typically use "this"</cdescription>
</cparameter>

<cparameter>
<clabel>port</clabel>
<cdescription>int: port used to transfer data</cdescription>
</cparameter>

<returns></returns>

<related>
</related>

<availability>1.0</availability>

<type>Object</type>

<partof>Library</partof>










</root>
