body { 
	color: #000000;
	background-color: #FFFFFF;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}

pre {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-style: bold;
}

body a:link {
	color: darkgreen;
	font-family: Arial, Verdana, sans-serif;
}

body a:visited {
	color: darkgreen;
	font-family: Arial, Verdana, sans-serif;
}

img {
	text-align: center;
	border: 0;
}

h2 {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 18px;
	font-style: bold;
}

.row0 {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-style: bold;
}

.row1 {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 18px;
	font-style: bold;
}
