# This file is cookbook/.htaccess -- the default distribution contains this
# file to prevent cookbook/ scripts from being accessed directly by browsers
# (this is a potential, albeit very unlikely, security hole).
#
# If you alter or replace this file, it will likely be overwritten when
# you upgrade from one version of PmWiki to another.  Be sure to save
# a copy of your alterations in another location so you can restore them,
# and you might try changing this file to be read-only to prevent a PmWiki
# upgrade from overwriting your altered version.

Order Deny,Allow
Deny from all
