body 
{
  margin: 0px 0px 0px 0px;
  font-family: georgia, geneva, arial, helvetica, san-serif; 
  font-size: 12px; 
  background-color: #333322; 
  text-decoration: none; 
  font-weight: normal; 
  line-height: normal;
}

A 	       { color: #CC6600; }
A:link	   { color: #CC6600; text-decoration: underline; }
A:visited  { color: #CC6600; text-decoration: underline; }
A:active   { color: #CC6600; text-decoration: underline; }
A:hover	   { color: #660000; text-decoration: underline; }

td
{
  font-family: georgia, geneva, arial, helvetica, san-serif; 
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  color: #333333;  
}

 
h3 { 
  COLOR: #999966; 
  FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; 
  FONT-SIZE: 19px; 
  FONT-WEIGHT: normal; 
  LINE-WEIGHT: normal; 
  line-height: normal;
}

.tutTitle { 
  COLOR: #996600; 
  FONT-FAMILY: Georgia, Geneva, Arial, Helvetica, sans-serif; 
  FONT-SIZE: 32px; 
  FONT-WEIGHT: normal; 
  LINE-WEIGHT: normal; 
  line-height: normal;
}

pre {  
	FONT-FAMILY: "Courier New", Courier, mono; 
	FONT-SIZE: 11px; 
	LINE-HEIGHT: normal; 
	COLOR: #000000
	left-margin: 40px;
}

.code {  
  position: relative;
  top: 40px;
  left: 20px;
}

.text {  
  position: relative;
  top: 40px;
}

.inputnav { 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 11px; 
	FONT-WEIGHT: normal; 
	COLOR: #333333; }

.refnav { 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 11px; 
	FONT-WEIGHT: normal; 
	COLOR: #333333; 
	background-color: #FFFFFF;
	width: 140px;
}

.titles {  
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 19px; 
	FONT-WEIGHT: normal; 
	COLOR: #CC9900
}

.caption {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	font-weight: normal
}
