<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
  <title>$WikiTitle | {$Group} / {$Title}</title>
  <link rel='stylesheet' href='$SkinDirUrl/print.css' type='text/css' />
  <!--HeaderText-->
</head>
<body>
  <div id='printhead'>
    <h3>$[From $WikiTitle]</h3>
    <h1 class='pagename'><a href='$ScriptUrl/{$Group}'>{$Group}: {$Title}</a></h1>
  </div>
<!--PageText-->
  <div id='printfoot'>
    <div class='from'>$[Retrieved from {$PageUrl}]</div>
    <div class='lastmod'>$[Page last modified on {$LastModified}]</div></div>
</body>
</html>
