body  { 
	background: #fff; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: normal; 
	color: #553; 
	text-decoration: none;
	margin-top: 0; 
	margin-left: 0; 
	margin-right: 0; 
	margin-bottom: 0;
}

h3 {
	font-size: 19px;
	font-weight: normal;
	font-decoration: none;
	color: #996;
	padding: 0px;
	margin: 0px;
}

h4 {
	font-size: 11px;
	text-decoration: none;
	color: #998;
	padding: 0px;
	margin: 0px;
}

td {
	font-size: 11px;
	color: #663
}

select {
	font-size: 11px;
	background-color : #fff; 
	height: 15px; 
	width: 200px; 
	color: #663; 
	border: 1px #06c solid
}

pre {
	margin-top: 0px;
}

a:link {
	color: #d60;
	font-size: 11px;
	text-decoration: underlined;
	background-color : transparent; 
}

a:visited {
	color: #d60;
	font-size: 11px;
	text-decoration: underlined;
	background-color : transparent; 
}

a:hover {
	color: #bb3;
	font-size: 11px;
	text-decoration: underlined;
	background-color : #000; 
}

a:active {
	color: #d60;
	font-size: 11px;
	text-decoration: none;
	background-color : transparent; 
}

.inputnav {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.pad {
	padding-right: 10px;
}

.unlinked {
	font-size: 11px;
	color: #999966;
}

.subtitle {
	font-size: 11px;
	font-style: italic;
	color: #666633;
}

.backslash {
	color: #996600;
}

.column {
	float: left;
	width: 250px;
	margin: 0px;
	padding: 0px;
}

.column2x {
	float: left;
	width: 500px;
	margin: 0px;
	padding: 0px;
}

.reffieldheader {
	vertical-align: top;
	width: 100px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.reffield {
	vertical-align: top;
	width: 560px;
	padding-bottom: 40px;
}

#head {
	position: relative;
	left: 0px;
	width: 750px;
	margin: 30px 50px 0px 50px;
	padding: 0px 0px 0px 0px;
}

#navigation {
	position: relative;
	left: 0px;
	width: 750px;
	margin: 0px 50px 0px 50px;
	padding: 0px 0px 0px 0px;
}

#subnavigation {
	position: relative;
	left: 0px;
	width: 750px;
	margin: 0px 50px 0px 50px;
	padding: 0px 0px 0px 0px;
}

#backnavigation {
	position: relative;
	left: 0px;
	width: 800px;
	margin: 40px 50px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content {
	position: relative;
	left: 0px;
	width: 750px;
	margin: 40px 50px 0px 50px;
	padding: 0px 0px 0px 0px;
}

#footer {
	position: relative;
	clear: both;
	left: 0px;
	width: 750px;
	margin: 0px 50px 20px 50px;
	padding: 100px 0px 0px 0px;
}
