<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="processing.plugin.ui.processingeditor.ProcessingEditor"
            default="true"
            extensions="pde"
            id="processing.plugin.ui.ProcessingEditor"
            name="Processing Sketch Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="processing.plugin.ui.processingeditor.ProcessingDocumentSetupParticipant"
            extensions="pde">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="processing.plugin.ui.wizards"
            name="Processing">
      </category>
      <wizard
            category="org.processing.wizards"
            class="processing.plugin.ui.wizards.NewSketchWizard"
            id="processing.plugin.ui.wizards.NewSketchWizard"
            name="Processing Sketch"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="processing.plugin.ui.preferences.CorePreferencePage"
            id="processing.plugin.ui.preferences.CorePreferencePage"
            name="Processing">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
      		pattern = "generated"
            selected="true">
         <description>
            Hides the generated folder and its contents from the UI.
         </description>
            
      </filter>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="Processing"
            class="processing.plugin.ui.launching.RunSketchAsAppletShortcut"
            description="Runs the Sketch as an applet, equivalent to the PDE run button."
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.launching.runSketchAsApplet"
            label="Processing Sketch (Applet)"
            modes="run">
         <contextualLaunch>
            <enablement>
            	<with variable="selection">
            		<count value="1" />
            			<iterate>
            				<or>
            					<test property="org.eclipse.jdt.launching.hasProjectNature" args="processing.plugin.core.sketchNature"/>
            					<test property="org.eclipse.debug.ui.matchesPattern" value="*.pde"/>
            				</or>
            			</iterate>
            	</with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="processing.plugin.ui.perspective.Sketching"
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.sketchingPerspective"
            name="Processing">
         <description>
            Write Processing sketches.
         </description>
      </perspective>
   </extension>




</plugin>
