<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="processing.plugin.ui.processingeditor.ProcessingEditor"
            default="true"
            extensions="pde"
            id="processing.plugin.ui.ProcessingEditor"
            name="Processing Sketch Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="processing.plugin.ui.processingeditor.ProcessingDocumentSetupParticipant"
            extensions="pde">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="processing.plugin.ui.preferences.CorePreferencePage"
            id="processing.plugin.ui.preferences.CorePreferencePage"
            name="Processing">
      </page>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="processing.plugin.ui.newWizards"
            name="Processing">
      </category>
      <wizard
            category="processing.plugin.ui.newWizards"
            class="processing.plugin.ui.wizards.NewSketchWizard"
            finalPerspective="processing.plugin.ui.sketchingPerspective"
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.wizards.NewSketchWizard"
            name="Processing Sketch"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.exportWizards">
      <category
            id="processing.plugin.ui.exportWizards"
            name="Processing">
      </category>
      <wizard
            category="processing.plugin.ui.exportWizards"
            class="processing.plugin.ui.wizards.ExportAsAppletWizard"
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.wizards.exportAsAppletWizard"
            name="Export Sketch as Applet">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.importWizards">
      <category
            id="processing.plugin.ui.importWizards"
            name="Processing">
      </category>
      <wizard
            category="processing.plugin.ui.importWizards"
            class="processing.plugin.ui.wizards.ImportSketchWizard"
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.wizards.importSketchWizard"
            name="Import Sketch Wizard">
      </wizard>

   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="processing.plugin.ui.launching.RunSketchAsAppletShortcut"
            description="Runs the Sketch as an applet, equivalent to the PDE run button."
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.launching.runSketchAsApplet"
            label="Processing Sketch (Applet)"
            modes="run">
         <contextualLaunch>
            <enablement>
            	<with variable="selection">
            		<count value="1" />
            			<iterate>
            				<or>
            					<test property="org.eclipse.jdt.launching.hasProjectNature" args="processing.plugin.core.sketchNature"/>
            					<test property="org.eclipse.debug.ui.matchesPattern" value="*.pde"/>
            				</or>
            			</iterate>
            	</with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="processing.plugin.ui.perspective.Sketching"
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.sketchingPerspective"
            name="Processing">
         <description>
            Write Processing sketches.
         </description>
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="processing.plugin.ui.sketchingPerspective">
         <newWizardShortcut id="processing.plugin.ui.wizards.NewSketchWizard" />
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file" />
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder" />
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective" />
         <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer" />
         <viewShortcut id="org.eclipse.ui.views.ProblemView" />
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator" />
         <viewShortcut id="org.eclipse.ui.console.ConsoleView" />
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="processing.plugin.ui.views.sketchView"
               ratio="0.2"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="Resources/16x16_icon.gif"
            id="processing.plugin.ui.views.sketchView"
            name="Sketch Navigator">
      </view>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="processing.plugin.ui.views.sketchView">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
      </viewerActionBinding>
      <viewerContentBinding viewerId="processing.plugin.ui.views.sketchView">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*" />
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper" />
            <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets" />
            <contentExtension pattern="processing.plugin.ui.filters.excludeGenerated" />
            <contentExtension pattern="processing.plugin.ui.filters.excludeNonSketches" />
         </includes>
      </viewerContentBinding>
   </extension>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Exclude derived resources generated during the Sketch building process."
            id="processing.plugin.ui.filters.excludeGenerated"
            name="Generated Folder"
            visibleInUI="true">
          <filterExpression>
          	<test property="org.eclipse.core.resources.name" value="generated" />      
          </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="Hides projects that are not Processing Sketches"
            id="processing.plugin.ui.filters.excludeNonSketches"
            name="Non-Sketch Projects"
            visibleInUI="true">
         <filterExpression>
              <instanceof value="org.eclipse.core.resources.IProject" />
              <and>
    		    <not>
       		      <test args="processing.plugin.core.sketchNature" property="org.eclipse.jdt.launching.hasProjectNature" />
		        </not>
		      </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run a Processing sketch as an applet"
            id="processing.plugin.ui.launchApplet"
            name="Processing Sketch Launch (Applet)">
      <!-- the above command needs a defaultHandler before it is functional -->
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="processing.plugin.ui.launchApplet"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>
</plugin>
