<div class="rightcol">
    <a href="./download/"><img src="/img/cover/download-processing.gif" alt="Download Processing" border="0" height="27" width="380" /></a><br />
    <a href="./exhibition/"><img src="/img/cover/explore-the-exhibition.gif" alt="Explore the Exhibition" border="0" height="27" width="380" /></a><br />
    <a href="./learning/topics/"><img src="/img/cover/play-with-examples.gif" alt="Play with Examples" border="0" height="27" width="380" /></a><br />
    <a href="./learning/"><img src="/img/cover/browse-tutorials.gif" alt="Browse Tutorials" border="0" height="27" width="380" /></a><br />
    
    <div class="intro">
        <p>Processing is an open source programming language and environment for 
        people who want to program images, animation, and interactions. It is used by 
        students, artists, designers, researchers, and hobbyists for 
        learning, prototyping, and production. It is created to teach fundamentals 
        of computer programming within a visual context and to serve as a software 
        sketchbook and professional production tool.
        
        <ul>
        	<li>Free to download and open source</li>
        	<li>For GNU/Linux, Mac OS X, and Windows</li>
        	<li>Projects run online or as applications</li>
        	<li>Over 100 libraries extend the software</li>
        	<li>Exports high resolution images and PDF files</li>
        	<li>Point 6???</li>
        </ul>
        
        <br />
        
        To contribute to the development, please visit 
		<a href="http://code.google.com/p/processing/">Processing on Google Code</a> to read 
		instructions for: downloading the code, building from the source, tracking bugs, and 
		creating libraries and tools.</p>

		<p>To see more of what people are doing with Processing, check out these sites:</p>

		<p>&raquo; <a href="http://wiki.processing.org/">Processing Wiki</a><br />
		   &raquo; <a href="http://forum.processing.org/">Processing Discussion Forum</a><br />
		   &raquo; <a href="http://www.openprocessing.org/">OpenProcessing</a><br />
		   &raquo; <a href="http://www.vimeo.com/tag:processing.org">Processing @ Vimeo</a><br />
		   &raquo; <a href="http://del.icio.us/tag/Processing.org/">Processing @ del.icio.us</a><br />
           &raquo; <a href="http://www.flickr.com/groups/processing/">Processing @ Flickr</a><br />
		   &raquo; <a href="http://youtube.com/group/processing">Processing @ YouTube</a><br />
		</p>
    </div>

</div>

<div class="leftcol">
    <div class="examples">
        <p><a href="learning/books/#reasfry2"><img src="/img/learning/getting-started-with-processing.jpg" width="200" height="310" alt="Getting Started with Processing by Casey Reas and Ben Fry" /></a></p>

		<p>We're excited to announce the release of 
		<a href="learning/books/#reasfry2">Getting Started with Processing</a>. 
		This informal, short book is an introduction to Processing and 
		interactive computer graphics. <a href="learning/books/#reasfry2">Please have a closer look</a>. 
		</p>
		
		<p>A range of books for different skill levels are featured on the <a href="learning/books/">Books page</a>.</p>

    </div>

</div>

<!-- version checker, helps us know what version of java (and whether it is installed) -->
        <APPLET CODE="version" CODEBASE="download/" WIDTH=1 HEIGHT=1>
        <IMG SRC="/download/version.gif" WIDTH="1" HEIGHT="1" />
        </APPLET> 