<p class="ref-notice"><!--*-->disclaimer<!--*--> <!--*-->contact<!--*--></p>

<!--*-->content<!--*-->

Updated on <!--*-->updated<!--*--><br /><br />

<!-- Creative Commons License -->

<div class="license">
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/"><img alt="Creative Commons License" border="0" src="http://creativecommons.org/images/public/somerights20.gif" /></a>
</div>
<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
 xmlns:dc="http://purl.org/dc/elements/1.1/"
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <dc:title>Processing.org Reference</dc:title>
   <dc:date>2004</dc:date>
   <dc:description>Reference for the Processing.org programming environment and language.</dc:description>
   <dc:creator><Agent>
      <dc:title>Casey Reas et al.</dc:title>
   </Agent></dc:creator>
   <dc:rights><Agent>
      <dc:title>Casey Reas</dc:title>
   </Agent></dc:rights>
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
   <license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/2.0/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-nc-sa/2.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <prohibits rdf:resource="http://web.resource.org/cc/CommercialUse" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->