    <h2 class="with-nav"><a href="/exhibition/network_page_1.html"><img src="/img/exhibition/networkheader.gif" width="675" height="24" alt="Network Links" /></a><br /><a href="/exhibition/submit/"><img src="/img/exhibition/addlink.gif" width="78" height="19" alt="Add a link" /></a>
    </h2>
    <i>To submit a new link, click "Add a link" and complete the form. Unfortunately, many of the links break over time as their owners remove the content from their sites.</i>
    
    <!--*-->network_nav<!--*-->
    
    <!--*-->network<!--*-->
    
    <!--*-->network_nav<!--*-->
