<div class="rightcol">
    <a href="download/index.html"><img src="/img/cover/downloadbeta.gif" alt="Download" border="0" height="27" width="380" /></a><br />
    
    <div class="intro">
        <p>Processing is an open source programming language and environment for 
        people who want to program images, animation, and interactions. It is used by 
        students, artists, designers, researchers, and hobbyists for 
        learning, prototyping, and production. It is created to teach fundamentals 
        of computer programming within a visual context and to serve as a software 
        sketchbook and professional production tool.</p>
        
        <p>Processing is free to <a href="/download/">download</a> and available 
        for GNU/Linux, Mac OS X, and Windows. To contribute to the project's development, please visit 
		<a href="http://dev.processing.org/">http://dev.processing.org/</a>, which includes 
		bug tracking and instructions for building the code, downloading the source, and 
		creating libraries and tools.</p>
        
        <p>Processing is an open project initiated by <a href="http://benfry.com">Ben 
		Fry</a> and <a href="http://reas.com">Casey Reas</a>. It evolved from ideas explored 
		in the Aesthetics and Computation Group at the MIT Media Lab.</p>
	  
	  <!--
	  <br />
      <a href="http://hardware.processing.org/">http://hardware.processing.org/</a><br />
      Arduino and Wiring are physical computing initiatives related to Processing.<br />
      <br />
      <a href="http://mobile.processing.org/">http://mobile.processing.org</a><br />
      Mobile Processing is a programming environment for writing mobile phone software.</p>-->


		<p>Please check out recent Processing activity on the Web:</p>

		<p><a href="http://www.openprocessing.org/">OpenProcessing</a><br />
		   <!--<a href="http://www.tom-carden.co.uk/processingblogs/">Processing Blogs</a><br />-->
		   <a href="http://www.vimeo.com/tag:processing.org">Processing @ Vimeo</a><br />
		   <a href="http://del.icio.us/tag/Processing.org/">Processing @ del.icio.us</a><br />
           <a href="http://www.flickr.com/groups/processing/">Processing @ Flickr</a><br />
		   <a href="http://youtube.com/group/processing">Processing @ YouTube</a><br />
	       <!--<a href="http://technorati.com/search/processing.org">Processing @ Technorati</a><br />-->
	</p>
    </div>
    
    <div class="updates">
        <h3><a href="/updates.html"><img src="/img/cover/updates.gif" width="205" height="32" alt="Updates" /></a></h3>
<!--*-->updates<!--*-->
        <p><a href="/updates.html">Previous Updates</a> \
			<a href="/updates.xml"><img src="/img/feed.gif" /> RSS</a>
		</p>
    </div>

</div>

<div class="leftcol">
    <div class="exhibition-small">
        <h3><a href="/exhibition/"><img src="/img/cover/tshirt2009.gif" width="205" height="32" alt="T-Shirts 2009/2010" /></a></h3>
			<img src="/img/cover/tshirt2009_graphic.jpg" width="223" height="144" alt="T-Shirt Graphic" />
    </div>
    
    <div class="examples">
        <p><a href="learning/books/index.html"><img src="/img/learning/books.gif" width="200" height="22" alt="Books" /></a></p>

	    <table width="221" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="111"><a href="learning/books/"><img src="/img/cover/cover_reasfry.jpg" alt="Processing: A Programming Handbook for Visual Artists and Designers" width="110" height="138" border="0"/></a></td>
            <td width="110"><a href="learning/books/index.html#shiffman"><img src="/img/cover/cover_shiffman.jpg" alt="Learning Processing" width="110" height="138" border="0"/></a></td>
          </tr>
          <tr>
            <td width="105" align="left" valign="top">&nbsp;</td>
            <td width="110" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="105" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="learning/books/">Processing: A Programming Handbook for Visual Designers and Artists</a> <br />
                  By Casey Reas</br />
and Ben Fry</td>
              </tr>
            </table>              </td>
            <td align="left" valign="top"><a href="learning/books/index.html#shiffman">Learning Processing</a><br />
By Daniel Shiffman</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="learning/books/index.html#fry"><img src="/img/cover/cover_fry.jpg" alt="Visualizing Data" width="110" height="138" border="0"/></a></td>
            <td><a href="learning/books/index.html#ira"><img src="/img/cover/cover_greenberg.jpg" alt="Processing: Creative Coding and Computational Art" width="110" height="138" border="0"/></a></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="105" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="learning/books/index.html#fry">Visualizing Data</a><br />By Ben Fry</td>
              </tr>
            </table>              </td>
            <td align="left" valign="top"><a href="learning/books/index.html#ira">Processing: Creative Coding and Computational Art</a><br />
By Ira Greenberg</td>
          </tr>
        </table>

	<p>More books related to Processing are included on the <a href="learning/books/">Books</a> page.</p>

    </div>
    
    <!--
    <h3><img src="/img/cover/affiliations.gif" width="205" height="32" alt="Affiliations" /></h3>
    <a href="http://dma.ucla.edu/"><img src="/img/cover/dma_logo.gif" alt="UCLA Design | Media Arts" border="0" height="18" width="170" /></a><br />
    <a href="http://plw.media.mit.edu/"><img src="/img/cover/mit.gif" alt="Massuchusetts Institute of Technology" border="0" height="26" width="170" /></a><br />
    <a href="http://www.mediatemple.net"><img src="/img/cover/mediatemple.gif" alt="Media Temple" border="0" height="26" width="170" /></a> 
    -->

    <h3><img src="/img/cover/sister_projects.gif" width="205" height="32" alt="Sister Projects" /></h3>
	<a href="http://www.arduino.cc/">Arduino</a><br />
	<a href="http://www.wiring.org.co">Wiring</a><br />
    <a href="http://mobile.processing.org/">Processing Mobile</a><br />
    
    <h3><img src="/img/cover/related_initiatives.gif" width="205" height="32" alt="Related Initiatives" /></h3>
    Processing Implementations<br />
    <a href="http://ejohn.org/blog/processingjs/">Processing.js</a><br />
    <a href="http://github.com/jashkenas/ruby-processing/wikis">Ruby-Processing</a><br />
    <a href="http://github.com/rosado/clj-processing">Processing for Clojure</a><br />
    <a href="http://technically.us/spde/">Spde (Scala)</a><br />
    <br />
    Gaming, Graphics, and Video<br />
    <a href="http://www.blender.org">Blender</a><br />
    <a href="http://www.troikatronix.com/isadora.html">Isadora</a><br />
    <a href="http://www.ozonehouse.com/ContextFree/">Context Free</a> <br />
    <a href="http://dbn.media.mit.edu/">Design By Numbers</a><br />
    <a href="http://drawbot.com/">DrawBot</a><br />
    <a href="http://gem.iem.at/">GEM</a><br />
    <a href="http://openendedgroup.com/field/">Field</a><br />
 	<a href="http://irrlicht.sourceforge.net/">Irrlicht</a><br />
 	<a href="http://www.jbox2d.org/">JBox2D</a><br />
    <a href="http://www.cycling74.com/products/jitter.html">Jitter</a><br />
	<a href="http://nodebox.net/">NodeBox</a><br />
	<a href="http://www.ogre3d.org/">Ogre</a><br /> 
	<a href="http://openframeworks.cc/">openFrameworks</a><br />
	<a href="http://www.pygame.org/">Pygame</a><br />
    <a href="http://www.scriptographer.com/">Scriptographer</a><br />
    <!--<a href="http://code.whytheluckystiff.net/shoes/">Shoes</a><br />-->
    <a href="http://structuresynth.sourceforge.net/">Structure Synth</a><br />
    <a href="http://vvvv.meso.net/">VVVV</a><br />
    <br />
    Sound and Music<br />
	<a href="http://chuck.cs.princeton.edu/">ChucK</a><br />
    <a href="http://puredata.info/">Pure Data (PD)</a><br />
    <a href="http://www.audiosynth.com/">SuperCollider</a><br />
    <br />
	Electronics and Fabrication<br />
    <a href="http://fabathome.org">Fab@Home</a><br />
	<a href="http://gainer.cc">Gainer</a><br />
	<a href="http://www.makezine.com/controller/">MAKE Controller</a><br />
    <a href="http://mtg.upf.es/reactable/">Reactable</a><br />
	<a href="http://reprap.org">RepRap</a><br />
    <br />
    Mobile Devices<br />
    <a href="http://www.openmoko.com/">OpenMoko</a><br />
    <br />
    For the Younger Ones<br />
    <a href="http://www.alice.org/">Alice</a><br />
    <a href="http://wiki.laptop.org/go/Pippy">Pippy</a><br />
    <a href="http://scratch.mit.edu/">Scratch</a><br />
    <!--<a href="http://hacketyhack.net/">Hackety Hack</a><br />-->
    <br />
    <!--For more FLOSS (Free/Libre/Open-Source Software) for artists and designers, visit
    <a href="http://www.artsoftware.org"/>artsoftware.org</a>-->
</div>

<!-- version checker, helps us know what version of java (and whether it is installed) -->
        <APPLET CODE="version" CODEBASE="download/" WIDTH=1 HEIGHT=1>
        <IMG SRC="/download/version.gif" WIDTH="1" HEIGHT="1" />
        </APPLET> 