<div class="colone">
    <h2><img src="/img/exhibition/header.gif" width="430" height="44" alt="Exhibition. A collection of featured software created with Processing" /></h2>
    
    <!--*-->exhibition<!--*-->
</div>

<div class="coltwo">
    <h2><img src="/img/exhibition/networklinks.gif" width="143" height="24" alt="" /><br />
        <a href="/exhibition/submit/"><img src="/img/exhibition/addlink.gif" width="78" height="19" alt="Add a link" /></a>
    </h2>
    
    <!--*-->network<!--*-->
</div>

<div class="onecol">
    <div class="colone">
        <p><a href="/exhibition/curated_page_2.html">Exhibition continues</a></p>
    </div>
    
    <div class="coltwo">
        <p><a href="/exhibition/network_page_2.html">Previous links</a></p>
    </div>
</div>