<div id="reference-nav">
    <a href="">Basics</a> \ <a href="">Topics</a> \ <a href="">3D</a> \ <a href="">Library</a>
</div>

<h1><img src="/img/learning/header-libraries.gif" alt="Library Examples. The libraries built for Processing extend the software beyond graphics and into other areas." /></h1>

<p>These examples document the core libraries (those maintained by the Processing team) and a few selected contributed libraries. There are <a href="../../reference/libraries/">many other libraries</a> available.</p>

<!--*-->content<!--*-->