<div id="reference-nav">
    <a href="http://processing.org/learning/basics/">Basics</a> \ <a href="http://processing.org/learning/topics/">Topics</a> \ <a href="http://processing.org/learning/3d/" class="active">3D</a> \ <a href="http://processing.org/learning/libraries/">Library</a>
</div>

<h1><img src="/img/learning/header-3d.gif" alt="3D and OpenGL Examples. By changing the renderer to P3D or OPENGL, it's possible 
	to draw in 3D and control the lighting and camera." /></h1>

<!--*-->content<!--*-->