<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--*-->lang<!--*-->" lang="<!--*-->lang<!--*-->">
	<head>
		<title><!--*-->title<!--*--></title>
		
		<link rel="icon" href="/img/processing-1.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/img/processing-1.ico" type="image/x-icon" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=<!--*-->charset<!--*-->" />
		<meta name="Author" content="Casey Reas &amp; Ben Fry" />
		<meta name="Publisher" content="Processing" />
		<meta name="Keywords" content="Processing, Processing, Interactive Media, Electronic Arts, Programming, Java, Ben Fry, Casey Reas" />
		<meta name="Description" content="Processing is an electronic sketchbook for developing 
				ideas. It is a context for learning fundamentals of computer programming 
				within the context of the electronic arts." />
		<meta name="Copyright" content="All contents copyright Ben Fry, Casey Reas, MIT Media Laboratory" />
		
		<script src="/javascript/MM_functions.js" type="text/javascript"></script>
	
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body id="<!--*-->bodyid<!--*-->" onload="" >
		
		<!-- ==================================== PAGE ============================ --> 
		<div id="container">
	
			<!-- ==================================== HEADER ============================ --> 
			<div id="header">
				<!--*-->header<!--*-->
				<form name="search" action="http://www.google.com/search" method="get">
				<label> </label>
				       <p><input type="hidden" name="as_sitesearch" value="processing.org" />
				       <input type="text" name="as_q" value="" size="20" class="text" /> 
						<input type="submit" value="Search" /></p>
						<!--<input type="image" src="/img/search_button.gif" value="Submit" alt="Submit" /></p>-->
				</form>
			</div> 
			<!--*-->navigation<!--*-->
		
			<a id="TOP" name="TOP"></a>
			
			<!-- ==================================== CONTENT - Headers ============================ -->
			<div class="content">
			
			 <!--*-->content_for_layout<!--*-->
			
			</div>

			<!-- ==================================== FOOTER ============================ --> 
  			<div id="footer">
    			<div id="copyright">Processing was initiated by <a href="http://benfry.com/">Ben Fry</a> and <a href="http://reas.com">Casey Reas</a>. It is developed by a <a href="/about/people/">small team of volunteers</a>.</div> 
    			<div id="colophon">

                    <a href="/copyright.html">&copy; Info</a> \ 

                    <span>Site hosted by <a href="http://www.mediatemple.net">Media Temple!</a></span>

                </div>
  			</div>
  			
		</div>
	</body>
</html>
