
	<a href="javascript:MM_openBrWindow('<!--*-->location<!--*-->','<!--*-->name<!--*-->','status=yes,scrollbars=<!--*-->scroll<!--*-->,resizable=<!--*-->resize<!--*-->,width=<!--*-->width<!--*-->,height=<!--*-->height<!--*-->')" title="">
	<img src="<!--*-->img_file<!--*-->" alt="<!--*-->img_alt<!--*-->" title="<!--*-->img_title<!--*-->" class="curatedImg" /></a><br />
	<p>
		<a href="javascript:MM_openBrWindow('<!--*-->location<!--*-->','<!--*-->name<!--*-->','status=yes,scrollbars=<!--*-->scroll<!--*-->,resizable=<!--*-->resize<!--*-->,width=<!--*-->width<!--*-->,height=<!--*-->height<!--*-->')" title="">
		<strong><!--*-->name<!--*--></strong></a><br />
		<span class="author">by <!--*-->by<!--*--></span><br />
		<br />
		<!--*-->description<!--*--><br />
		<!--*-->source<!--*--><br />
		<br />
		<!--*-->links_title<!--*-->
		<!--*-->links<!--*-->
	</p>