<div class="rightcol">
    <a href="download/index.html"><img src="/img/cover/downloadbeta.gif" alt="Download" border="0" height="27" width="380" /></a><br />
    
    <div class="intro">
        <!--<hr>
    	<p><strong>SPECIAL EVENT: Processing for the Open Web</strong><br />
    	Boston, MA. 9 April 2010. 7 - 9pm at the <a href="http://loft.bocoup.com/">Bocoup Loft</a><br />
    	<br />
    	Ben Fry, John Resig, Chris Blizzard, Dave Humphrey, and Corban Brook will be discussing the Processing language from origin to web. From the goals of Processing.js to the future of the language in the open-web, this is a unique opportunity to ask your questions and provide important feedback to the Processing.js Development Team and the Mozilla graphics team. This event is free, but <a href="http://bocoup.eventwax.com/processing-for-the-open-web-panel">registration is required</a>.
    	</p>
    	<hr>-->
        <p>Processing is an open source programming language and environment for 
        people who want to program images, animation, and interactions. It is used by 
        students, artists, designers, researchers, and hobbyists for 
        learning, prototyping, and production. It is created to teach fundamentals 
        of computer programming within a visual context and to serve as a software 
        sketchbook and professional production tool.</p>
        
        <p>Processing is free to <a href="/download/">download</a> and available 
        for GNU/Linux, Mac OS X, and Windows. To contribute to the project's development, please visit 
		<a href="http://dev.processing.org/">http://dev.processing.org/</a>, which includes 
		bug tracking and instructions for building the code, downloading the source, and 
		creating libraries and tools.</p>
        
        <p>Processing is an open project initiated by <a href="http://benfry.com">Ben 
		Fry</a> and <a href="http://reas.com">Casey Reas</a>. It evolved from ideas explored 
		in the Aesthetics and Computation Group at the MIT Media Lab.</p>

		<p>Please check out recent Processing activity on the Web:</p>

		<p><a href="http://www.openprocessing.org/">OpenProcessing</a><br />
		   <a href="http://www.vimeo.com/tag:processing.org">Processing @ Vimeo</a><br />
		   <a href="http://del.icio.us/tag/Processing.org/">Processing @ del.icio.us</a><br />
           <a href="http://www.flickr.com/groups/processing/">Processing @ Flickr</a><br />
		   <a href="http://youtube.com/group/processing">Processing @ YouTube</a><br />
	</p>
    </div>

</div>

<div class="leftcol">
	<div class="exhibition-small">
        <h3><a href="/exhibition/"><img src="/img/cover/exhibition.gif" width="205" height="32" alt="Exhibition" /></a></h3>
	<!--*-->exhibition<!--*-->
    </div>


    <!--<div class="exhibition-small">
        <h3><a href="/shop/"><img src="/img/cover/tshirt2009.gif" width="205" height="32" alt="T-Shirts 2009/2010" /></a></h3>
			<a href="/shop/"><img src="/img/cover/tshirt2009_graphic.jpg" width="223" height="144" alt="T-Shirt Image" /></a>
		<p>Processing t-shirts are back in stock! 
		<a href="http://processing.org/shop/">Please have a closer look</a>.<br /><br /></p>
		
        <h3><a href="/exhibition/"><img src="/img/cover/exhibition.gif" width="205" height="32" alt="Exhibition" /></a></h3>
	<!--*-->exhibition<!--*-->
    </div>-->
    
    <div class="examples">
        <p><a href="learning/books/index.html"><img src="/img/learning/books.gif" width="200" height="22" alt="Books" /></a></p>

	    <table width="221" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="111"><a href="learning/books/"><img src="/img/cover/cover_reasfry.jpg" alt="Processing: A Programming Handbook for Visual Artists and Designers" width="110" height="138" border="0"/></a></td>
            <td width="110"><a href="learning/books/index.html#shiffman"><img src="/img/cover/cover_shiffman.jpg" alt="Learning Processing" width="110" height="138" border="0"/></a></td>
          </tr>
          <tr>
            <td width="105" align="left" valign="top">&nbsp;</td>
            <td width="110" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="105" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="learning/books/">Processing: A Programming Handbook for Visual Designers and Artists</a> <br />
                  By Casey Reas</br />
and Ben Fry</td>
              </tr>
            </table>              </td>
            <td align="left" valign="top"><a href="learning/books/index.html#shiffman">Learning Processing</a><br />
By Daniel Shiffman</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><a href="learning/books/index.html#fry"><img src="/img/cover/cover_fry.jpg" alt="Visualizing Data" width="110" height="138" border="0"/></a></td>
            <td><a href="learning/books/index.html#ira"><img src="/img/cover/cover_greenberg.jpg" alt="Processing: Creative Coding and Computational Art" width="110" height="138" border="0"/></a></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="105" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="learning/books/index.html#fry">Visualizing Data</a><br />By Ben Fry</td>
              </tr>
            </table>              </td>
            <td align="left" valign="top"><a href="learning/books/index.html#ira">Processing: Creative Coding and Computational Art</a><br />
By Ira Greenberg</td>
          </tr>
        </table>

	<p>More books related to Processing are included on the <a href="learning/books/">Books</a> page.</p>

    </div>

</div>

<!-- version checker, helps us know what version of java (and whether it is installed) -->
        <APPLET CODE="version" CODEBASE="download/" WIDTH=1 HEIGHT=1>
        <IMG SRC="/download/version.gif" WIDTH="1" HEIGHT="1" />
        </APPLET> 