<div id="reference-nav">
    <a href="/learning/basics/">Basics</a> \ <a href="/learning/topics/">Topics</a> \ <a href="/learning/3d/">3D</a> \ <a href="/learning/libraries/" class="activeSub">Libraries</a>
</div>

<h1><img src="/img/learning/header-libraries.gif" alt="Library Examples. The libraries built for Processing extend the software beyond graphics and into other areas." /></h1>

These examples document the core libraries (those maintained by the Processing team) and a few selected contributed libraries. There are <a href="../../reference/libraries/">many other libraries</a> available.

<!--*-->content<!--*-->

