<div class="colone">
    <h2><a href="curated_page_new.html"><img src="/img/exhibition/collection.gif" width="100" height="24" alt="Collection" /></a></h2>
    
    <!--*-->exhibition<!--*-->
</div>

<div class="coltwo">
    <h2><a href="network_page_new.html"><img src="/img/exhibition/networklinks.gif" width="143" height="24" alt="Network Links"/></a><br />
    </h2>
    <p><a href="/exhibition/submit/"><img src="/img/exhibition/addlink.gif" width="78" height="19" alt="Add a link" /></a></p>    
    <!--*-->network<!--*-->
</div>

<!--<div class="colthree">
    <h2><a href="/exhibition/features/"><img src="/img/exhibition/features.gif" width="143" height="24" alt="Features" /></a><br /></h2>
    
    <p><a href="features/hodgin"><img src="images/hodgin.jpg"></a><br />
    <br />
    <a href="features/hodgin/">Aesthetic Barbarian</a><br />
    Interview with Robert Hodgin<br />
    <br />
    Hodgin discusses the evolution of his outstanding generated visuals from flight404 and The Barbarian Group.
    <br /><br />
    <a href="features/igoe"><img src="images/igoe.jpg"></a><br />
    <br />
    <a href="features/igoe/">Tom Igoe</a><br />
    Interview with Tom Igoe<br />
    <br />
    Igoe introduces working with sensors and electronics and shares an example for working with Arduino.
    
    </p>
</div>-->

<div class="colthree">
    <h2><a href="/exhibition/features/"><img src="/img/exhibition/features.gif" width="143" height="24" alt="Features" /></a><br /></h2>
    
    <table width="224" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>
        <div class="curated-item">
			<a href="features/hodgin/"><img src="images/hodgin.jpg" width="223" height="72" alt="Aesthetic Barbarian" /></a>

			<p><br /><a href="features/hodgin/">Aesthetic Barbarian</a><br />
			Interview with Robert Hodgin</p>
			<p>Hodgin discusses the evolution of his outstanding generated visuals from flight404 and The Barbarian Group.</p>
         </div>
       </td>
     </tr>
     <tr>
      <td>
        <div class="curated-item">
			<a href="features/igoe/"><img src="images/igoe.jpg" width="223" height="72" alt="Bit Man" /></a>

			<p><br /><a href="features/igoe/">Bit Man</a><br />
			Interview with Tom Igoe</p>
			<p>Igoe introduces working with sensors and electronics and shares an example for working with Arduino.</p>
         </div>
       </td>
     </tr>
     </table>
</div>

<div class="onecol">
    <div class="colone">
        <p>&raquo; <a href="/exhibition/curated_page_1.html"><b>Exhibition continues</b></a></p>
    </div>
    
    <div class="coltwo">
        <p>&raquo; <a href="/exhibition/network_page_1.html"><b>Previous links</b></a></p>
    </div>
</div>
