/*
 *	css is not valid because firefox has so bad form-elements that
 *  i rather go with invalid css ( -moz-.. ) than have them
 *  look like crap.
 *
 */

table {
}

td
{
	/*text-align:	left;
	vertical-align:	top;*/
}

form
	{
	margin-bottom		: 0px;
	}

input,
select,
textarea
	{
	font-family  		: Verdana, Arial, Helvetica, sans-serif;
	font-size			: 10px;
	
	vertical-align		: middle;
	}
	
select
	{
	width : 120px;
	}

input
	{
	margin-right		: 5px;
	}

label
	{
	display				: block;
	/*margin-left			: -2px;
	margin-bottom		: 7px;*/
	/* \*/
	/*margin-bottom		: 3px;*/
	/*  */
	}
	
select[multiple]
	{
	/*margin-left			: -3px;*/
	}

input[type="text"],
input[type="password"],
input:not([type])
	{
	/*border				: 2px solid !important;*/
	
	-moz-border-top-colors		: #7C7C7C #C3C3C3;
	-moz-border-left-colors		: #C2C2C2 #EFEFEF;
	-moz-border-bottom-colors	: #DDDDDD #FEFEFE;
	-moz-border-right-colors	: #C2C2C2 #EFEFEF;
    }

button, 
input[type="reset"],
input[type="button"],
input[type="submit"],
select:not([multiple])
	{
	/*border				: 2px solid !important;
	background-repeat	: repeat-x !important;
	background-position	: bottom right !important;*/
	background-color	: rgb(246, 246, 246) !important;
	
	-moz-border-top-colors		: #737373 #FFFFFF;
	-moz-border-right-colors	: #999999 #CECECE;
	-moz-border-bottom-colors	: #999999 #CECECE;
	-moz-border-left-colors		: #737373 #FFFFFF;
	
	-moz-border-radius			: 1px !important;
	}

button:focus:active, 
input[type="reset"]:hover:active,
input[type="button"]:hover:active,
input[type="submit"]:hover:active,
select:not([multiple]):hover:active
	{
	/*border				: 2px solid !important;*/
	
	-moz-border-top-colors		: #999999 #CECECE !important;
	-moz-border-right-colors	: #737373 #FFFFFF !important;
	-moz-border-bottom-colors	: #737373 #FFFFFF !important;
	-moz-border-left-colors		: #999999 #CECECE !important;
	}

select > input[type="button"]
	{
	border-top			: none !important;
	border-right		: none !important;
	border-bottom		: none !important;
	border-left			: 1px solid #CECECE !important;
	
	background-image	: none !important;
	background-color	: transparent !important;
	}
	

input[type="text"]:focus,
input[type="password"]:focus,
input:not([type]):focus,
textarea:focus,
select[multiple]:focus
	{
	-moz-border-top-colors		: -moz-mac-focusring -moz-mac-focusring !important;
	-moz-border-right-colors	: -moz-mac-focusring -moz-mac-focusring !important;
	-moz-border-bottom-colors	: -moz-mac-focusring -moz-mac-focusring !important;
	-moz-border-left-colors		: -moz-mac-focusring -moz-mac-focusring !important;
	
	-moz-border-radius			: 1px !important;
	}

textarea, select[multiple]
{
	/*border				: 2px solid !important;*/	/* opera: ugly ring around select:multiple */
	
	-moz-border-top-colors		: transparent #737373 !important;
	-moz-border-right-colors	: transparent #999999 !important; 
	-moz-border-bottom-colors	: transparent #999999 !important; 
	-moz-border-left-colors		: transparent #999999 !important;
	
	-moz-border-radius-top-right		: 1px;
	-moz-border-radius-bottom-right		: 1px;
}



input[type="radio"]:not([class]):not([id]):not([style])
	{
	width: 13px !important;
	height: 13px !important;
    
	-moz-border-top-colors		: transparent transparent transparent !important;
	-moz-border-right-colors	: transparent transparent transparent !important; 
	-moz-border-bottom-colors	: transparent transparent transparent !important; 
	-moz-border-left-colors		: transparent transparent transparent !important;
	  	
  	-moz-border-radius: 2px !important;
  	
	-moz-border-radius-top-right		: 4px;
	-moz-border-radius-bottom-right		: 4px;
	
  	background: url("radio.png") !important; 
	background-repeat: no-repeat !important;
	background-position: center center !important;
  	
	}

input[type="radio"]:focus:not([class]):not([id]):not([style])
	{
	
	}

input[type="radio"]:checked:not([class]):not([id]):not([style])
	{

  	background: url("radio_checked.png") !important; 
	background-repeat: no-repeat !important;
	background-position: center center !important;
  	
	}
	
input[type="checkbox"]:not([class]):not([id]):not([style])
	{
    
	-moz-border-top-colors		: #777777 #FFFFFF transparent !important;
	-moz-border-right-colors	: #999999 #CECECE transparent !important; 
	-moz-border-bottom-colors	: #999999 #CECECE transparent !important; 
	-moz-border-left-colors		: #777777 #FFFFFF transparent !important;
  	
	}
	
input[type="checkbox"]:hover:active:not([class]):not([id]):not([style])
	{
    
	-moz-border-top-colors		: #777777 #999999 transparent !important;
	-moz-border-right-colors	: #999999 #FFFFFF transparent !important; 
	-moz-border-bottom-colors	: #999999 #FFFFFF transparent !important; 
	-moz-border-left-colors		: #777777 #999999 transparent !important;
  	
	}
