/*
By Lenny Burdette

Derived from code by Kevin Cannon, http://www.multiblah.com and
Florian Jenett, mail@florianjenett.de

Created: 2005.08.29 04:28PM
Last Modified: 2005.08.30 06:23PM

*/

body {
	margin				: 0;
	padding				: 0;
	
	background-color	: #E2E2E2;  /* #FFFFFF; */  /* #333322 */
	
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size			: 100%; 
    font-size           : 0.7em;
	font-weight			: normal;
	line-height			: normal;
	color				: #333333;
}

img { border: 0px solid #000000; }

a {
	text-decoration: underline;
	font-weight: normal;
	color: #3399CC;
}

a:hover, 
a:active {
	text-decoration: underline;
	font-weight: normal;
	color: #3399CC;
}

a:visited,
a:link:visited {
	text-decoration: underline;
	font-weight: normal;
	color: #3399CC;
}


/* ================ LAYOUT ================== */

#container {
	width: 750px;
	margin-left: 0px;
	background-color: white;
}

/* ================ HEADER ================== */
#header {
	width: 750px;
	height: 80px;
	overflow: hidden;
	background-color: #000000;
	position:relative;
}

#header h1 {
		display: none;
		float: left;
}

#header form {
	position: absolute;
	top: 20px;
	right: 5px;
	width: 220px;
	color: #ccc;
}

#header form input.text {
	width: 130px;
	margin-right: 2px;
}

#header form p { margin: 0; }
#header form input {
	/* border: 1px solid black; */
	background: #CCCCCC;
	float: left;
	margin-top: 1px;
}

/* ================ NAVBAR ================== */

#navigation {
	font-size: 0.7em;
	color: #CCCCCC;
}

.navBar { font-size: 11px; 
	height: 20px; 
	padding: 5px 0 0 55px; 
}

.navBar a { color: #fff; }
.navBar a:visited {color: #fff; }

#mainnav { background: #333333; }
#mainnav_noSub { background: #333333; margin-bottom: 40px; }
#mainnav, #mainnav_noSub { position: relative; color: #cccccc !important; }

#subNav { margin-left: 157px;   /* 264  Is this for the reference??? */
	background: #5a5a5a url(../img/nav_bottomarrow.gif) no-repeat; 
	padding-left: 33px;
	margin-bottom: 30px;
}

#subNav.learning { margin-left: 225px; }
.active { color: #cccccc !important; }
.activeSub { color: #000000 !important; }
.faq { position: absolute; right: 10px; color: #cccccc }

#subNav.exhib { margin-left: 90px; }
.active { color: #cccccc !important; }
.faq { position: absolute; right: 10px; color: #cccccc }

#subNav.abo { margin-left: 390px; }
.active { color: #cccccc !important; }
.faq { position: absolute; right: 10px; color: #cccccc }

/* ================ CONTENT ================== */

.content {
	margin-left    : 55px;
	margin-right   : 50px;
	position: relative;
}

/* ================ FOOTER ================== */

#footer {
	clear: both;
	padding-top: 100px;
	color: white;
}

#footer a {
	color: white;
}

#footer #copyright,
#footer #colophon {
	padding: 5px 0 5px 50px;
	color: white;
}

#footer #copyright {
	background-color: #5A5A5A;
}

#footer #colophon {
	background-color: #000000;
}

#footer #colophon a {
	text-decoration: underline;
	color: white;
}

#footer #colophon span { color: #fff; }

/* ================ TYPOGRAPHY ================== */

h1, h2, h3, h4, h5, h6
	{
	/*margin-bottom 		: 5px;*/

	color				: #5A5A5A; 
	font-family			: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-weight			: normal;

	line-height			: 1.6em;
	}

h1, h2, h3, h4
	{
	word-spacing		: 0.2em;
	}

h4, h5, h6
{
	font-weight			: bold; 
}

/* Font Sizes */

h1 { font-size			: 2em; 		}
h2 { font-size			: 1.85em; 	}
h3 { font-size			: 1.7em; 	}
h4 { font-size			: 1.5em; 	}
h5 { font-size			: 1.25em; 	}
h6 { font-size			: 1em; 		}

p { font-size			: 1em; 		}

pre {  
	font-family			: "Courier New", Courier, monospace; 
	font-size			: 11px; 
	line-height			: normal; color: #000000;
}

tt {  
	font-family			: "Courier New", Courier, monospace; 
	font-size			: 11px; 
	line-height			: normal; color: #000000;
}

code {  
	font-family			: "Courier New", Courier, monospace; 
	font-size			: 11px; 
	line-height			: normal; color: #000000;
}

li {margin-bottom: 1em; }

.error { color: #f00; margin: 0; }

/* ================== RANDOM CLASSES =============== */
.clear { clear: both; }

/* ================== PAGE SPECIFIC CSS =============== */

/**************************************************************** Cover ***/

#Cover .rightcol { 
    float: right;
    width: 380px;
    margin-right: 20px;
}
#Cover .leftcol { width: 250px; }

#Cover ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}


#Cover .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

#Cover h3 { margin: 40px 0 0 0; }
.exhibition-small { padding: 0; margin: 0; }
.exhibition-small h3 { margin-top: 0px !important; }

dl { margin: 0; }
dt { font-style: italic; }
dd { margin: 0 0 1em 0; }

.happenings { margin-bottom: 30px; }

.courses-small dl { margin-top: -1em; }
.courses-small dt { font-style: normal; margin-top: 1em; }
.courses-small dd { margin: 0; }

td img { margin: 0; display: block; }



/**************************************************************** Exhibition ***/

//#Exhibition .colone { width: 224px; float: left; margin-right: 35px; }
#Exhibition .colone { width: 675px; float: left; margin-right: 35px; }
#Exhibition .coltwo { width: 165px; float: left; margin-right: 25px; }
#Exhibition .colthree { width: 224px; float: left; margin-right: 20px; }
#Exhibition h2 { margin: 0 0 20px 0; font-size: 1em; }
#Exhibition h2.with-nav { margin-bottom: 0; }
#Exhibition .onecol { clear: both; }
#Exhibition td { vertical-align: top; }

#Exhibition #Index .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

/**
#Collection .colone { width: 675px; float: left; margin-right: 35px; }
#Collection .coltwo { width: 165px; float: left; margin-right: 25px; }
#Collection .colthree { width: 224px; float: left; margin-right: 20px; }
#Collection h2 { margin: 0 0 20px 0; font-size: 1em; }
#Collection h2.with-nav { margin-bottom: 0; }
#Collection .onecol { clear: both; }
#Collection td { vertical-align: top; }

#Collection .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}
*/

#Tutorials .colone { width: 224px; float: left; margin-right: 35px; }
#Tutorials .coltwo { width: 165px; float: left; margin-right: 25px; }
#Tutorials .colthree { width: 224px; float: left; margin-right: 20px; }
#Tutorials h2 { margin: 0 0 20px 0; font-size: 1em; }
#Tutorials h2.with-nav { margin-bottom: 0; }
#Tutorials .onecol { clear: both; }
#Tutorials td { vertical-align: top; }

#Index .colone { width: 224px; float: left; margin-right: 35px; }
#Index .coltwo { width: 165px; float: left; margin-right: 25px; }
#Index .colthree { width: 224px; float: left; margin-right: 20px; }
#Index h2 { margin: 0 0 20px 0; font-size: 1em; }
#Index h2.with-nav { margin-bottom: 0; }
#Index .onecol { clear: both; }
#Index td { vertical-align: top; }

#Index .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

.curated-item { margin-bottom: 25px; }
.curated-item h5 { margin-top: 1em; color: #666; font-size: 1em; }
.curated-item h5 a { font-weight: bold; }
.curated-item p {  padding-right: 2em; }

#Network h2 { position: relative; }
#Network h2 a.addalink { position: absolute; left: 455px;}

dl.network dt { font-style: normal; }
dl.network dd { margin: 0; }
dl.network dd.date { color: #999999; margin-bottom: 1em; }

p.network { margin: 0 23px 1em 0; width:200px; }
p.network span.date { color: #999999; }

p.exhibition-nav { margin-top: 20px; margin-bottom: 10px; }

/**************************************************************** Reference ***/


#Language h5 a { float: left; margin-left: -30px; }

#Language .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

.skinny {
        margin-left    : 0px;
        margin-right   : 50px;
        position: relative;
}

#reference-nav { position: relative; width: 300px; height: 2em; padding-top: .5em; }
#reference-nav p { position: absolute; right: 10px; top: 0; margin: 0; }

.ref-notice { margin: 1.5em 0 2.5em 0; color: #006699; clear: both; margin-right: 40px;}

.ref-item { margin-bottom: 60px; }
.ref-item th { width: 100px; font-weight: normal; text-align: left; vertical-align: top; }
.ref-item td { vertical-align: top; padding-bottom: 2em; }
.ref-item td h3 { margin: 0; }
pre { margin: 0; }
tr.name-row { height: 80px; }

td p { margin-top: 0; }

.example img { float: left; margin-right: 15px; margin-bottom: 15px; }
.example { clear: both; margin-bottom: 15px; }
.example pre.margin { margin-left: 115px; }
hr.noShade { height: 0px; color: #ccc; background: #ccc; margin-bottom: 15px; clear: both; width: 60%; text-align: left; float: left; }

/*** ref index ***/
.abridged-notice { margin: 0 50px 30px 0; }

.libraries-top { margin: 20px 50px 15px 0; }
.libraries-bottom { margin: 0 50px 0px 0; }

div.ref-col { width: 30%; 
    margin-right: 2%; 
    float: left; 
}

.ref-col h3 { margin: 0;
	font-size: 1.25em;
	 }
.ref-col h5 { margin: 1.5em 0 0 0; 
	font-size: 1em; 
	font-weight: normal; 
	font-style: italic; 
}
.ref-col h3+h5 { margin-top: 0; }
.category { margin-bottom: 30px; }

.ref-col p { margin-top: -.5em; margin-bottom: 2em; }

/**************************************************************** updates, courses, happenings ***/
#Courses .content, #Updates .content, #Happenings .content {
    width: 595px; 
     }
#Updates h2 { margin-top: 0 0 20px 0; }


.course-desc p { margin: 0; }
.course-desc p.date { margin: 0; }
.course-desc h3 { margin: 0; font-size: 1em; font-weight: bold; line-height: 1em; }
.course-desc { margin-bottom: 2em; }

/**************************************************************** download ***/

#Download .leftcol { margin-right: 250px; }
.download-ver { color: black; font-size: 1em; font-weight: bold; margin-top: 2em; }
.download-ver span { color: #5a5a46; }

#Download .rightcol { position: absolute; 
    top: 55px; 
    right: 10px; 
    width: 175px; 
}
#Download .rightcol h5 { font-size: 1em; margin-bottom: 1em; }

/************************************************************** contribute ***/

#Contribute h1 { margin-bottom: 0; }
#Contribute .message { margin-top: 0; margin-right: 40px; }
#Contribute .threecol { float: left; width: 210px; margin-right: 20px; }
#Contribute .threecol p { margin-bottom: 2em; }

#Contribute .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

/************************************************************** Learning ***/

#Learning  h1 { margin-bottom: 0; margin-top: 0;}
#Learning .message { margin-top: 0; margin-right: 40px; }
#Learning .threecol { float: left; width: 200px; margin-right: 30px; margin-top: 0px;}
#Learning .threecol p { margin-bottom: 2em; }

#Learning .twocol { float: left; width: 310px; margin-right: 20px; margin-top: 0px;}
#Learning .twocol p { margin-bottom: 2em; }

#Learning td { vertical-align: top; }

.doc-float { margin-right: 40px;}

#Learning .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

h2 { margin-bottom: 0; margin-top: 0;}


#Copyright p { margin-right: 20px; }


/************************************************************** Books ***/

#Books h1 { margin-bottom: 0; margin-top: 0;}
#Books td { vertical-align: top; font-size: 1.0em}


/************************************************************** Tools Indices ***/
#Tools-index .colone {
	width: 300px;
	float: left;
	margin-right: 40px;
}

#Tools-index .twocol {
	width: 330px;
	float: left; 
}

#Tools-index .full {
	width: 650px;
	float: left;
	margin-right: 0px;
	margin-top: 30px;
}

#Tools .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

#Tools-index .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}


#Tools-index h5 { margin-bottom: 0; font-size: 1em; }
#Tools-index .twocol p { margin-top: 0; }
.lib-nav { display: block; 
	margin-bottom: 10px; 
	margin-left: -30px; 
	padding: 7px 0 3px 30px; 
	background: url(/img/back_off.gif) no-repeat 
}

#Tools-index pre { margin-left: 30px; margin-bottom: 30px; }

#Tools h2 { margin-top: 2em; }
#Tools h5 { font-size: 1em; margin: 0; font-weight: bold; }
#Tools h5 a { font-weight: bold; }
#Tools h3 { clear: both; margin-bottom: 0; }
#Tools h4 { font-size: 1em; margin-bottom: .5em; }
#Tools h4 a {float:left; margin-left:-30px; martin-top:-5px; }


#Tools .threecol { float: left; width: 210px; margin-right: 20px; }
#Tools .threecol p { margin-top: 0; margin-bottom: 2em; }


/************************************************************** Library Indices ***/

#Libraries .colone {
	width: 300px;
	float: left;
	margin-right: 40px;
}

#Libraries .colone-alt {
	width: 300px;
	float: left;
	margin-right: 40px;
	background: #cccccc;
}

#Libraries .twocol {
	width: 330px;
	float: left; 
}

#Libraries .twocol-alt {
	width: 330px;
	float: left; 
	background: #cccccc;
}


#Libraries .twocol p { margin-top: 0; }

#Libraries .full {
	width: 650px;
	float: left;
	margin-right: 0px;
	margin-top: 30px;
}

#Libraries .librarytitle {
	width: 680px;
	float: left;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
}

#Libraries .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

#Libraries .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

.lib-nav { display: block; 
	margin-bottom: 10px; 
	margin-left: -30px; 
	padding: 7px 0 3px 30px; 
	background: url(/img/back_off.gif) no-repeat 
}

#Libraries pre { margin-left: 30px; margin-bottom: 30px; }

#Libraries h2 { margin-top: 2em; }
//#Libraries h3 { clear: both; margin-bottom: 0; }
#Libraries h3 { margin-top: 0; margin-bottom: 0;}
#Libraries h5 { font-size: 1em; margin: 0; font-weight: bold; }
#Libraries h5 a { font-weight: bold; }
#Libraries h4 { font-size: 1em; margin-bottom: .5em; }
#Libraries h4 a {float:left; margin-left:-30px; martin-top:-5px; }

#Libraries .threecol { float: left; width: 210px; margin-right: 20px; }
#Libraries .threecol p { margin-top: 0; margin-bottom: 2em; }

//#Libraries h5 { margin-bottom: 0; font-size: 1em; }

/*

#Library-index .colone {
	width: 300px;
	float: left;
	margin-right: 40px;
}

#Library-index .twocol {
	width: 330px;
	float: left; 
}

#Library-index .full {
	width: 650px;
	float: left;
	margin-right: 0px;
	margin-top: 30px;
}

#Libraries .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}

#Library-index .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}


#Library-index h5 { margin-bottom: 0; font-size: 1em; }
#Library-index .twocol p { margin-top: 0; }
.lib-nav { display: block; 
	margin-bottom: 10px; 
	margin-left: -30px; 
	padding: 7px 0 3px 30px; 
	background: url(/img/back_off.gif) no-repeat 
}

#Library-index pre { margin-left: 30px; margin-bottom: 30px; }

#Libraries h2 { margin-top: 2em; }
#Libraries h5 { font-size: 1em; margin: 0; font-weight: bold; }
#Libraries h5 a { font-weight: bold; }
#Libraries h3 { clear: both; margin-bottom: 0; }
#Libraries h4 { font-size: 1em; margin-bottom: .5em; }
#Libraries h4 a {float:left; margin-left:-30px; martin-top:-5px; }

#Libraries .threecol { float: left; width: 210px; margin-right: 20px; }
#Libraries .threecol p { margin-top: 0; margin-bottom: 2em; }

*/

/************************************************************** environment ***/
#Environment h1 { margin-top: 2em; }
#Environment h5 a { float: left; margin-left: -30px; }
ul.nostyle { margin: 0; padding: 0; list-style: none outside; }
#Environment td { padding-bottom: 1em; }

#Environment .content {
        margin-left    : 55px;
        margin-right   : 50px;
        position: relative;
}

/************************************************************** comparison ***/
#Compare h1 { margin-top: 2em; }
#Compare h2 { margin-bottom: 0; }
#Compare .threecol { float: left; width: 210px; margin-right: 20px; }
#Compare .threecol p { margin-top: 0; }


#Compare .content {
        margin-left    : 55px;
        margin-right   : 0px;
        position: relative;
}


/************************************************************** troubleshooting ***/
#Troubleshooting h1 { margin-top: 2em; }
#Troubleshooting h5 a { float: left; margin-left: -30px; }
ul.nostyle { margin: 0; padding: 0; list-style: none outside; }
#Troubleshooting td { padding-bottom: 1em; }

/************************************************************** FAQ ***/

#FAQ h5 a { float: left; margin-left: -30px; }

/************************************************************** examples ***/
div.applet { float: left; margin-bottom: 40px; }
p.doc-float { margin-left: 250px; }
p.doc { margin-right: 40px; }
pre.code { clear: both; margin-top: 10px; }

/* #examples-nav { margin-left: -44px; display: relative; } */
//#examples-nav { margin-left: 0px; display: relative; }
.examples-nav-div { margin-left: -44px; margin-top: -10px; width: 480px; display: relative; align: left; }
#examples-nav img { display: absolute; top: 15px; left: 100px; }

#Examples h1 { margin-bottom: 0; }


div.updateRequired {
	color:#999;
}
div.updateRequired a {
	color:#999;
}


