<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>$WikiTitle | {$Group} / {$Title} $Action</title>
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
  <!--HeaderText-->
</head>
<body>
<!--PageHeaderFmt-->
  <div id='wikilogo'><a href='{$ScriptUrl}'><img src='$PageLogoUrl'
    alt='$WikiTitle' border='0' /></a></div>
  <div id='wikihead'>
  <form action='{$ScriptUrl}'>
    <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'
      accesskey='$[ak_recentchanges]'>$[Recent Changes]</a> -
    <input type='hidden' name='n' value='{$FullName}' />
    <input type='hidden' name='action' value='search' />
    <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:
    <input type='text' name='q' value='' class='inputbox searchbox' />
    <input type='submit' class='inputbutton searchbutton'
      value='$[Go]' /></form></div>
<!--/PageHeaderFmt-->
  <table id='wikimid' width='100%' cellspacing='0' cellpadding='0'><tr>
<!--PageLeftFmt-->
      <td id='wikileft' valign='top'>
        <!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar--></td>
<!--/PageLeftFmt-->
      <td id='wikibody' valign='top'>
<!--PageActionFmt-->
        <div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a href='{$ScriptUrl}/{$Group}'>{$Group}</a> /</div>
          <h1 class='pagetitle'>{$Title}</h1></div>
<!--PageText-->
      </td>
    </tr></table>
<!--PageFooterFmt-->
  <div id='wikifoot'>
    <div class='footnav'>
      <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
      <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
      <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
      <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
      <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a></div>
    <div class='lastmod'>$[Page last modified on {$LastModified}]</div></div>
<!--/PageFooterFmt-->
</body>
</html>
