<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.processing.editor.ProcessingEditor"
            default="true"
            extensions="pde"
            icon="icons/processing.gif"
            id="org.processing.editor.ProcessingEditor"
            name="Processing Sketch Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.core.filebuffers.documentSetup"
         id="ProcessingDocumentSetupParticipant"
         name="Processing Document Setup Participant">
      <participant
            class="org.processing.editor.ProcessingDocumentSetupParticipant"
            extensions="pde">
      </participant>
   </extension>
   <extension point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
      		extensions="*"
            class="org.eclipse.ui.texteditor.ResourceMarkerAnnotationModelFactory">
      </factory>
   </extension>
   <extension point="org.eclipse.ui.editorActions"
         id="Processing.EditorSpecificActions"
         name="Processing Buttons">
      <editorContribution
            id="org.processing.actions.ToolbarButtons"
            targetID="org.processing.editor.ProcessingEditor">
         <action
               class="org.processing.actions.RunButton"
               icon="icons/processing.gif"
               id="org.processing.actions.Run"
               label="Run Sketch"
               toolbarPath="Normal/additions"
               tooltip="Run Sketch">
         </action>
      </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.processing.preferences.ProcessingPreferencesPage"
            id="org.processing.preferences.ProcessingPreferencesPage"
            name="Processing">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.processing.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="auditmarker"
         name="Processing Audit Marker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker"/>
         <super type="org.eclipse.core.resources.textmarker"/>
         <persistent value="true"/>
   </extension>
   <extension
         id=""
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.processing.builder.ProcessingSketchAuditor">
         </run>
      </builder>
   </extension>
</plugin>
