<?php

$db_server = "localhost";
$db_name = "mobile";
$db_username = "insertusernamehere";
$db_password = "insertpasswordhere";

function db_connect() {
    global $db_server, $db_name, $db_username, $db_password;
    $link = mysql_connect($db_server, $db_username, $db_password);
    mysql_select_db($db_name, $link);

    return $link;
}

?>
