  <img src="$SITE_ROOTreference/libraries/images/contributions.png"><br />
  <br />
  <b>Note:</b> The following content is community-contributed and managed.<br />
  <br />
  <!--PageText-->
  <div style="margin-top: 40px; clear:both;">
    <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
    <a rel="nofollow" href='{$PageUrl}?action=upload'>$[Uploads]</a> -
    <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
    <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> - $[Page last modified on {$LastModified}]
  </div>
