body {
	font-family: Arial, Verdana, sans;
	font-size: 8px;
	color: #000000;
	font-weight: normal;
}
td.sectionHeader {
	font-size: 12px;
	font-weight: bold;
	background-color: #E9DB6C;
}
td.subsectionHeader {
	font-size: 12px;
	font-weight: bold;
	background-color: #FFCC66;
}
td.regular {
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFFF;
}
td.params {
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFB5;
}
a:link {
	color: #CC9900;
	font-size: 12px;
}
a:visited {
	color: #CC9900;
	font-size: 12px;
}
a:hover {
	color: #000000;
	font-size: 12px;
}
a:active {
	color: #CC9900;
	font-size: 12px;
}
.code {
	font-family: Courier, monospace;
	font-size: 11px;
	color: #3366CC;
}
.parameter {
	font-weight: bold;
	color: #3366CC;
}
.branch {
	font-size: 16px;
	color: #3366CC;
}
.docblurb {
	font-size: 11px;
	color: #000000;
}
.filename {
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFB5;
}
