<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="sketchNature"
         name="Processing Sketch Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
            class="processing.plugin.core.builder.SketchProject">
         </run>
      </runtime>
      <builder
            id="processing.plugin.core.sketchBuilder">
      </builder>
   </extension>
   <extension
         id="sketchBuilder"
         name="Processing Sketch Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="processing.plugin.core.builder.SketchBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="preprocError"
         name="Processing Preprocessor Problem Marker"
         point="org.eclipse.core.resources.markers">
      <persistent value="true" />
      <super type="org.eclipse.core.resources.problemmarker" />
   </extension>
   <extension
         id="compileError"
         name="Processing Compile Problem Marker"
         point="org.eclipse.core.resources.markers">
      <persistent value="true" />
      <super type="org.eclipse.core.resources.problemmarker" />
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="Processing"
            delegate="processing.plugin.core.launching.ProcessingSketchLaunchConfigurationDelegate"
            id="processing.plugin.core.launching.processingSketch"
            modes="run"
            name="Processing Sketch">
            <!--sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector" -->
      </launchConfigurationType>
   </extension>

</plugin>
